@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --BTN_COLOR: rgb(24, 237, 60);
    --CIRCLE_COLOR: rgb(232, 231, 238);
    --COLOR: black;
    --BG_COLOR: white;
}

.header {
    width: 100%;
    height: 60px;
    background-color: var(--BG_COLOR);
    color: var(--COLOR);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 30px;


}

.header_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60px;
    font-size: 17px;
    color: var(--COLOR);
    gap: 40px;
    margin-left: -360px;
    list-style: none;


}

.header_ul li {
    list-style: none;
    position: relative;
}

.header_ul li a {
    text-decoration: none;
    color: var(--COLOR);
    padding: 10px;

}

.header_ul li a:hover {
    color: var(--BTN_COLOR);
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    gap: 10px;
    color: black;
    background-color: var(--BG_COLOR);
    width: 90px;


}

.dropdown_menu li {
    padding: 5px 5px;
    border: 1px solid black;

}

.Page:hover .dropdown_menu {
    display: block;
}
.BR{
    border-radius: 2px;
    cursor: pointer;
}
                   
.header_btn {
    border: 1px solid black;
    padding: 10px;
    color: var(--COLOR);
    background-color: var(--BG_COLOR);
    
    margin-right: 50px;
    /* border-radius: 2px; */


}

.header_btn:hover {
    color: var(--BTN_COLOR);
}
             /*MAIN*/
.main {
    display: flex;
    width: 60%;
    margin: 50px auto;
}

.main_container {
    display: flex;
    flex-direction: column;
}

.main_h1 {
    font-size: 4vw;
      font-family: "Roboto", sans-serif;

}

.details {
    margin-top: 5px;
    font-size: 19px;
}

.details p {
    font-size: 18px;
    color: var(--BTN_COLOR);
    margin-top: 5px;
    padding: 2px;

}

.main_btn {
    display: flex;
    gap: 10px;
    margin-top: 20px;

}

.btn1 {
    background-color: rgba(191, 255, 94, 0.921);
    padding: 15px 20px;
    font-weight: 400;
    border: none;
    font-size: 16px;
    /* cursor: pointer;
    border-radius: 2px; */
}
.btn1:hover{
    color: white;
}

.btn2 {
    padding: 3px 20px;
    background-color: var(--BG_COLOR);
    border: 1px solid black;
    /* cursor: pointer;
    border-radius: 2px; */
}

.btn3 {
    border: none;
    background-color: var(--BG_COLOR);
    /* cursor: pointer; */
    font-size: 13px;
    font-weight: 600;
}

.rating {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
                                         /*SMALL_CONTAINER*/
.box {
    position: absolute;
    top: 50.88%;
    left: 48%;
    width: 300px;
    height: 165px;
    background-color: var(--BG_COLOR);
    color: var(--COLOR);
}

.box h2 {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 17px;
    font-weight: 600;
}

.container {
    display: flex;

    /* position: relative; */

}

.circle {
    margin-top: 9px;
    margin-left: 37px;
    margin-right: 10px;
    width: 90px;
    background: conic-gradient(var(--CIRCLE_COLOR) 0% 30%, rgb(149, 218, 209) 30% 60%, rgb(41, 79, 74) 60% 100%);
    height: 90px;
    border-radius: 50%;
    mask: radial-gradient(circle, transparent 24px, black 1px);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;


}

/* #circle{
    background: radial-gradient(white 0deg 30deg);
} */
.right {
    display: flex;
    gap: 10px;
    margin-left: 25px;
    margin-top: 14px;
}

.part1 {
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.small_box {
    width: 20px;
    height: 20px;
    border-radius: 5px;

}

#s1 {
    background-color: var(--CIRCLE_COLOR);
}

#s2 {

    background-color: rgb(149, 218, 209);
}

#s3 {

    background-color: rgb(41, 79, 74);
}

.part2 {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.large_box {
    width: 70px;
    height: 20px;
    border-radius: 3px;
    gap: 10px;
}

#l1 {

    background-color: var(--CIRCLE_COLOR);
}

#l2 {

    background-color: var(--CIRCLE_COLOR);
}

#l3 {
    background-color: var(--CIRCLE_COLOR);

}

.footer {
    color: var(--COLOR);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}